* {
	font-family: "Courier New", monospace;
    -webkit-text-size-adjust: none;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.break {
	clear: both;
}

#mainContent {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: black;
}

.box {
	height: 100%;
	width: 43%;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	float: left;
	resize: none;
}

#remove {
	height: 5%;
	width: 100%;
	background-color: #E0EAF1;
	position: absolute;
	bottom: 0;
	left: 0;
}

#control_container {
	width: 14%;
	height: 100%;
	float: right;
	background-color: #F4F7F8;
	position: relative;
}

#control_settings {
	height: 10%;
    margin: 20px;
    font-size: 14px;
}

input[type=radio] {
    width: 18px;
    height: 18px;
    vertical-align: bottom;
}

#duplicates_status_container {
	height: 70%;
	margin: 0;
	padding: 20px 20px 0 20px;
}

.duplicates_status {
	resize: none;
	padding: 10px;
	border-radius: 2px;
	box-sizing: border-box;
}

#status {
	height: 10%;
	width: 100%;
}

#duplicates {
	height: 90%;
	width: 100%;
}

h4 {
	margin: 10px 0 5px 0;
}
